Importando a biblioteca Pandas e acessando o arquivo customers.csv

In [4]:
import pandas as pd

df_customers = pd.read_csv('../data/customers.csv', sep=';')
df_customers

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
785  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
786  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
787  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
788  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
789  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[790 rows x 3 columns]

tamanho do dataframe

In [5]:
df_customers.shape

(790, 3)

Quanto a tabela esta ocupando da memoris

In [6]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    790 non-null    object
 1   Name    790 non-null    object
 2   Points  790 non-null    int64
dtypes: int64(1), object(2)
memory usage: 18.6+ KB

In [7]:
df_customers.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    790 non-null    object
 1   Name    790 non-null    object
 2   Points  790 non-null    int64
dtypes: int64(1), object(2)
memory usage: 117.5 KB

estatistica descritiva

In [8]:
df_customers.describe().T

        count        mean         std  min   25%   50%     75%     max
Points  790.0  206.921519  411.766994  0.0  50.0  58.0  181.75  4304.0

In [9]:
df_customers['Points'].describe()

count     790.000000
mean      206.921519
std       411.766994
min         0.000000
25%        50.000000
50%        58.000000
75%       181.750000
max      4304.000000
Name: Points, dtype: float64

Determinado quem tem o maximo de pontos

In [10]:
maximo = df_customers['Points'].max()
condicao = df_customers['Points'] == maximo
df_customers[condicao]

                                     UUID      Name  Points
435  066c9fc6-f704-4165-a8f3-3d1968b0d4a3  marxzera    4304

In [11]:
df_customers[condicao]['Name']

435    marxzera
Name: Name, dtype: object

In [12]:
df_maior = df_customers[condicao]['Name'].iloc[0]
df_maior

'marxzera'

Quem esta entre 1000 e 2000 pontos?

In [13]:
condicao2 = (df_customers['Points'] > 1000) & (df_customers['Points'] < 2000)
df_customers[condicao2].describe()

            Points
count    28.000000
mean   1300.607143
std     223.005952
min    1013.000000
25%    1151.250000
50%    1255.000000
75%    1379.750000
max    1940.000000