Importando a biblioteca Pandas e acessando o arquivo customers.csv

In [2]:
import pandas as pd

df_customers = pd.read_csv('../data/customers.csv', sep=';')
df_customers

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
785  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
786  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
787  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
788  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
789  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[790 rows x 3 columns]

tamanho do dataframe

In [3]:
df_customers.shape

(790, 3)

Quanto a tabela esta ocupando da memoria

In [4]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    790 non-null    object
 1   Name    790 non-null    object
 2   Points  790 non-null    int64
dtypes: int64(1), object(2)
memory usage: 18.6+ KB

In [5]:
df_customers.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    790 non-null    object
 1   Name    790 non-null    object
 2   Points  790 non-null    int64
dtypes: int64(1), object(2)
memory usage: 117.5 KB

estatistica descritiva

In [6]:
df_customers.describe().T

        count        mean         std  min   25%   50%     75%     max
Points  790.0  206.921519  411.766994  0.0  50.0  58.0  181.75  4304.0

In [7]:
df_customers['Points'].describe()

count     790.000000
mean      206.921519
std       411.766994
min         0.000000
25%        50.000000
50%        58.000000
75%       181.750000
max      4304.000000
Name: Points, dtype: float64

FILTROS E COPY

Determinado quem tem o maximo de pontos

In [8]:
maximo = df_customers['Points'].max()
condicao = df_customers['Points'] == maximo
df_customers[condicao]

                                     UUID      Name  Points
435  066c9fc6-f704-4165-a8f3-3d1968b0d4a3  marxzera    4304

In [9]:
df_customers[condicao]['Name']

435    marxzera
Name: Name, dtype: object

In [10]:
df_maior = df_customers[condicao]['Name'].iloc[0]
df_maior

'marxzera'

Quem esta entre 1000 e 2000 pontos?

In [17]:
condicao = (df_customers['Points'] > 1000) & (df_customers['Points'] < 2000)
df_customers[condicao]

                                     UUID                 Name  Points
1    2d3d2dce-d353-4961-ad39-46723efe2100        mariicmartins    1375
26   54edd84d-73ad-4821-8d53-7ed04f00b2e4          kaycristina    1153
29   a1478518-6bf1-41e7-895b-355a06554b96          talismacedo    1116
34   99431a0f-1f38-47ab-9136-445c7afae00d       nicolaslima167    1364
43   af4f97a5-90a8-4ebf-8420-d7766ad093ea            ldbressan    1038
47   4c77c153-19b9-42e2-a03c-04f43dcc6105      vinnyportugal07    1211
59   21943df7-272e-46ef-aeb7-933a6637bfd5          gabra_alves    1013
60   2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1          dabathehutt    1307
68   74c06e4d-0d4f-48f1-96af-a03c7b18ce47           thamibetin    1940
77   98953b1a-ae7e-4e50-b264-bdda6c3a4a6d          ericcamacho    1423
98   8151fff4-0b51-4577-ae0b-4622d244d324            neelister    1214
125  803debdb-8136-4cb5-af29-dcd8db36bf2c             lucasnv_    1173
138  ce61fa42-2854-42d4-b20d-e9348e9d76e1            chicovivo    1324
148  9c909d1e-fa2a-47b0-8535-d9e44375f9f8           marcos_oap    1213
155  8cf8e162-bcf1-4a68-9ea5-44ec75484734              reis131    1247
177  161bf8aa-33f9-42a3-b48f-97199c8370d1             zackwild    1146
199  10d18590-4365-465c-8174-311c38d3a548           telbatesbr    1026
202  7be4584b-288b-4027-a2fe-29d206313917               censeu    1301
272  9c49a075-02a6-4a14-bc38-7b3bf18aa723  patriciasilvarecife    1100
273  5ed09fff-c0eb-48db-b6e3-20ef238e8b5c     gustavolourenco_    1287
378  ce0f9a00-3862-40ee-84bc-1aba65c19e15              edbruxo    1400
417  d6f92668-964e-462c-93e9-25e7771a5852            eduard0ml    1144
449  52e4293d-0b9c-4215-be0d-e0d63e3536b3             nicosp90    1828
495  7107771a-0558-4aaa-a66e-570205a7f367              leogend    1607
496  3f55b86f-dc21-4ac8-8e89-7c1535359eaf         tapioca_amin    1394
506  24ef9aed-ab90-41bf-bf90-88d17210d1b2          thiagolange    1263
531  87040a44-0e04-4cc1-ad91-072d167b11b1       inimigodomouse    1606
734  f39b1da2-7633-4d8f-99b4-6ffd1e0f0d23      gleicearaujo_ds    1204

In [18]:
condicao = (df_customers['Points'] > 1000) & (df_customers['Points'] < 2000)
df_customers[condicao].describe()

            Points
count    28.000000
mean   1300.607143
std     223.005952
min    1013.000000
25%    1151.250000
50%    1255.000000
75%    1379.750000
max    1940.000000

In [19]:
condicao = (df_customers['Points'] > 1000) & (df_customers['Points'] < 2000)
df_customers[condicao].info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 1 to 734
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    28 non-null     object
 1   Name    28 non-null     object
 2   Points  28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 896.0+ bytes

Selecionando colunas

In [14]:
df_customers[['UUID','Name']]

                                     UUID              Name
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17
..                                    ...               ...
785  4a36c617-b018-436a-babc-4374461ab87b         null__var
786  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles
787  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri
788  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu
789  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh

[790 rows x 2 columns]

In [22]:
colunas = df_customers.columns.tolist()
colunas.sort()
df_customers  = df_customers[colunas]
df_customers

                 Name  Points                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
785         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
786         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
787  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
788          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
789            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[790 rows x 3 columns]

Renomear colunas

In [24]:
df_customers.rename(columns={'Name': 'Nome', 'Points': 'Pontos'})#rename gera um novo DataFrame

                 Nome  Pontos                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
785         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
786         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
787  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
788          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
789            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[790 rows x 3 columns]

In [25]:
df_customers

                 Name  Points                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
785         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
786         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
787  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
788          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
789            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[790 rows x 3 columns]

In [26]:
df_customers = df_customers.rename(columns={'Name': 'Nome', 'Points': 'Pontos'})
df_customers

                 Nome  Pontos                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
785         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
786         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
787  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
788          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
789            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[790 rows x 3 columns]

In [27]:
#outra maneira
df_customers.rename(columns={'UUID': 'Id'}, inplace=True)
df_customers

                 Nome  Pontos                                    Id
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
785         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
786         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
787  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
788          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
789            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[790 rows x 3 columns]