Importando a biblioteca Pandas e acessando o arquivo customers.csv

In [2]:
import pandas as pd

df_customers = pd.read_csv('../data/customers.csv', sep=';')
df_customers

                                     UUID              Name Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf    792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins   1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus    421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0   4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17      0
..                                    ...               ...    ...
786  4a36c617-b018-436a-babc-4374461ab87b         null__var     53
787  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles     50
788  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri     50
789  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu     50
790  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh     52

[791 rows x 3 columns]

Determinando o numero de linhas e colunas:
.shape -> exibe uma tupla (linhas, colunas)

In [3]:
df_customers.shape

(791, 3)

Determinar o tamanho do arquivo:

In [4]:
df_customers.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    791 non-null    object
 1   Name    791 non-null    object
 2   Points  791 non-null    object
dtypes: object(3)
memory usage: 151.2 KB

Determinar uma estatistica descritiva da coluna points

In [5]:
df_customers['Points'].describe()

count     791
unique    252
top        50
freq      130
Name: Points, dtype: object

Points esta definido com object.
Convertendo object para inteiro

In [7]:
df_customers['Points'].astype(int)

ValueError: invalid literal for int() with base 10: '59a'